/*---------CSS RESEST--------*/

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/***********Start************/
/* Font: Verdana, Geneva, Tahoma, sans-serif

Color Palatte: 
Dark Blue: #020659
Medium Dark Blue: #020873
Blue: #030ABC
light blue: #0D8DFB
Royal Blue: #2104D9
Light Blue 2: #2699FB
wine: #590242

*/
* {
    box-sizing:border-box;
    margin:0;
    padding:0;
  }
html {
    background-color: #020659;
    font-family: Verdana, geneva, Tahoma, sans-serif;
}
body {
    width: 375px;
    margin: 0 auto;
    background-color: #ffffff;
}

/* header styling */
header {
    background: linear-gradient(to right, #030ABC,#020873, #000000); 
    position: relative;
    top: 48px;
    padding: 20px;
    margin:0px;
    color: white;
   /* max-width: 385px; /*add to media screen ??? */
    
}
h1{
    font-size: 1.25em;
    padding:0 0 10px 0;
    text-transform: uppercase;
    font-weight: bold;
}
 #title{
    color:#ffffff;
    font-variant: small-caps;
    font-size: 1.4em;
    font-weight: bold;
    text-decoration:none;  
    margin:auto 35px; 

 }
 nav{
    background-color:#020873;
    top:0px;   
    width:375px;
 }
 
 #titles, nav {
    position:fixed;
    margin-bottom: 20px;
    top:0px;
    display:inline-flex;  
    /* text-transform: uppercase; */
 }

 nav h2 {
    visibility:hidden;
    position:absolute;
 }
nav a {
    text-decoration: none;
    color:#ffffff;
    padding-bottom: 15px;
    display: inline-flex;
 }
/*Hamburger Menu */
 ul {
    overflow:hidden;
    max-height:0;
    transition: max-height .2s ease-out;
    padding: 20px;
}

label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}
*/
/* END HAMBUGER MENU */

 /*  main styling */

h2, h3 {
    font-size: 1em;
    text-transform: uppercase;
}
p, dl, dd {
    font-size: 1em;
}
#trendingSongs { 
    color:#590242;
    margin-top: 30px;
    padding-left: 10px;
    padding-top: 20px;
    /* font-weight: bold; */
    margin-bottom: 20px;
}
h2{
    padding-left: 10px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-left:0px;
    background: #ffffff;
    font-weight: bold;
    color:#590242;
}
#trendingSongs h3{
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 5px;
}
#trendingSongs dt {
    font-style: italic;
}
/* Scroll Bar */ 
.scroll{
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    overflow-x: auto;
    overflow-y: hidden;
}
.scroll section{
    margin:10px;
    position:relative;
}
.scroll div{
    position: absolute;
    top: 251px;
    background-color: rgba(255,255,255,.75);
    padding: 5px;
    height: 50px;
    width: 350px;
}
dl {
    display: flex;
   
}
dt {
    padding-right: 5px;
    /* font-style:italic; */
}
audio {
    position: absolute;
    bottom: 150px;
    left: 5px;
}
/* END SCROLL */
/* link button styling */
.button {
    position: inline-block;
    background:#590242;
    padding: 10px;
    color:#ffffff;
    margin-left: 20px;
    top:-50px;
    text-decoration: none;
    border-radius: 7px;
}
a:hover{
    color:#020659;
}
/* playlist styling */
#yourPlaylists {
    background: #2699FB;
    margin-bottom: 40px;
}
#yourPlaylists section{
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    background:#0D8DFB;
    height: 220px;
    /* margin-bottom: 20px; */
    /* padding: 10px; */

}
  
#yourPlaylists dt{
    color:#ffffff;
    font-weight: bold;
    position:absolute;
    margin-top: -132px;
    margin-bottom:15px;
    margin-left:8px;
    
    
}
#yourPlaylists dd{
    margin-top:-110px;
    margin-right:200px;
    margin-left:0px;
    text-align: center;
    color:#ffffff;

}
#yourPlaylists img{
    padding: 5px;
}
/* Curated Styling */
#curated {
    background: #020873;
    margin-bottom: 40px;
}
#curated section{
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    background:#020659;
    height: 220px;
    /* padding-top:20px; */
    /* margin-bottom: 20px; */
    padding: auto 10px;

}
#curated dt{
    color:#ffffff;
    font-weight: bold;
    position:absolute;
    margin-top: -132px;
    margin-bottom:15px;
    margin-left:8px;
     
}
#curated dd{
    margin-top:-110px;
    margin-right:200px;
    margin-left:0px;
    text-align: center;
    color:#ffffff;
}

/* footer styling */
  footer{
    display:flex;
    align-items: flex-end;
    background:#ffffff;
    height: 60px;
    
  }
  footer p {
    margin-left: 25%;
    padding-bottom: 10px;
    color:#590242;
    font-size: 0.75em;
  }

#trendingSongs ::-webkit-scrollbar {
    width: 15px;
}
#trendingSongs ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #590242;
}
#trendingSongs ::-webkit-scrollbar-thumb {
    background: #590242;
    border-radius: 5px;
}
#trendingSongs ::-webkit-scrollbar-thumb:hover {
    background: #020659
}
#yourPlaylists ::-webkit-scrollbar, #curated ::-webkit-scrollbar {
    width: 15px;
}
#yourPlaylists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {
    box-shadow: inset 0 0 15px #020659;
}
#yourPlaylists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {
    background: #020659;
    border-radius: 5px;
}
#yourPlaylists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}   

@media screen and (min-width:836px) {
    main {
        max-width: 834px;
    }
    nav {
        max-width: 834px;
    }
    .button{
        float:right;
        margin-right: 10px;
    }
    #yourPlaylists{
        grid-template-columns:1fr 1fr;
    }
    #curated{
       grid-template-columns: 1fr 1fr;
       margin-top: 60px;

    }
    footer{
        padding-left: 220px;
    }
}
@media screen and (min-width: 1000px) {
    main {
        min-width:834px;
    }
    body{
        min-width:834px;
    }
    nav {
        min-width: 834px;
    }
}

@media screen and (min-width: 1200px){

    body{
      min-width: 834px;
    }
    body {
        min-width: 834px;
    }
    nav{
        min-width:834px;
    }




/*@media screen and (min-width: 375px){

}

@media screen and (min-width: 834px){
#yourPlaylist{
    display: grid;
    grid-template-rows: 1fr;
    float:left;
}
#curated{
    display: grid;
    grid-template-rows: 1fr;
    float: right;
}
}

@media screen and (min-width:834px) {
    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    label span, input {
        display: none;
    }
}
*/